.PreviewWindow {
  position: fixed;
  top: 5px;
  left: 5px;
  display: block;
  margin: auto;
  width: 50%;
  max-width: 450px;
  height: 65.217vw;
  max-height: 585px;
}

.PreviewWindow .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
